.navigation-links-nav {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.navigation-links-navlink {
  width: auto;
  cursor: pointer;
  height: auto;
  transition: 0.3s;
  text-decoration: none;
}
.navigation-links-navlink:hover {
  color: var(--dl-color-scheme-brown);
}
.navigation-links-navlink1 {
  cursor: pointer;
  transition: 0.3s;
  margin-left: 41px;
  text-decoration: none;
}
.navigation-links-navlink1:hover {
  color: var(--dl-color-scheme-brown);
}
.navigation-links-navlink2 {
  cursor: pointer;
  transition: 0.3s;
  margin-left: 41px;
  text-decoration: none;
}
.navigation-links-navlink2:hover {
  color: var(--dl-color-scheme-brown);
}










.navigation-links-root-class-name17 {
  margin-right: var(--dl-space-space-threeunits);
}
@media(max-width: 767px) {
  .navigation-links-nav {
    align-items: flex-start;
    flex-direction: column;
  }
  .navigation-links-navlink {
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-navlink1 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-navlink2 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
}
@media(max-width: 479px) {
  .navigation-links-root-class-name9 {
    align-self: flex-start;
  }
}

.navigation-header {
  top: 0;
  width: 100%;
  display: flex;
  z-index: 100;
  position: fixed;
  align-items: center;
  justify-content: center;
  background-color: var(--dl-color-scheme-white);
}
.navigation-navbar-interactive {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  border-color: var(--dl-color-scheme-darkgray);
  border-style: ridge;
  border-width: 1px;
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 3px;
}
.navigation-navlink {
  display: contents;
}
.navigation-image {
  width: 8ex;
  height: auto;
  text-decoration: none;
}
.navigation-container {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: space-between;
  flex-direction: column;
}
.navigation-desktop-menu {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
.navigation-burger-menu {
  display: none;
}
.navigation-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.navigation-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: flex;
  padding: 32px;
  z-index: 100;
  position: absolute;
  transform: translateY(-100%);
  transition: 0.5s;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.navigation-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.navigation-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.navigation-navlink1 {
  display: contents;
}
.navigation-image1 {
  width: 8ex;
  height: auto;
  text-decoration: none;
}
.navigation-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.navigation-icon2 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
@media(max-width: 991px) {
  .navigation-navbar-interactive {
    position: relative;
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .navigation-desktop-menu {
    align-items: center;
    margin-left: var(--dl-space-space-unit);
    padding-left: var(--dl-space-space-unit);
    justify-content: center;
  }
}
@media(max-width: 767px) {
  .navigation-navbar-interactive {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .navigation-desktop-menu {
    display: none;
  }
  .navigation-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media(max-width: 479px) {
  .navigation-navbar-interactive {
    padding: var(--dl-space-space-unit);
  }
}

.footer-footer {
  width: 100%;
  display: flex;
  position: relative;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.footer-separator {
  flex: 0 0 auto;
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 0px;
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  align-items: flex-start;
  margin-left: 0px;
  border-color: #D9D9D9;
  border-style: solid;
  border-width: 1px;
  margin-right: 0px;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: row;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.footer-nav {
  flex: 1;
  display: flex;
  position: relative;
  align-self: center;
  align-items: flex-end;
  flex-direction: row;
  justify-content: flex-end;
}
.footer-text {
  align-self: center;
  margin-left: 0px;
  margin-right: Unit;
}
.footer-text1 {
  align-self: center;
  margin-left: var(--dl-space-space-unit);
}
.footer-text2 {
  align-self: center;
  margin-left: var(--dl-space-space-unit);
}
.footer-text3 {
  align-self: center;
  margin-left: var(--dl-space-space-unit);
}
.footer-text4 {
  align-self: center;
  margin-right: var(--dl-space-space-unit);
}
.footer-separator1 {
  flex: 0 0 auto;
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 0px;
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  align-items: flex-start;
  margin-left: 0px;
  border-color: #D9D9D9;
  border-style: solid;
  border-width: 1px;
  margin-right: 0px;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: row;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.footer-root-class-name {
  align-self: center;
}
.footer-root-class-name1 {
  align-self: center;
}
.footer-root-class-name2 {
  align-self: center;
}
@media(max-width: 991px) {
  .footer-footer {
    flex-direction: column;
  }
  .footer-separator {
    align-self: center;
  }
  .footer-separator1 {
    align-self: center;
  }
}
@media(max-width: 767px) {
  .footer-footer {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .footer-separator {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .footer-text4 {
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .footer-separator1 {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
}
@media(max-width: 479px) {
  .footer-footer {
    padding: var(--dl-space-space-unit);
    margin-top: var(--dl-space-space-unit);
  }
  .footer-separator {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .footer-text4 {
    text-align: center;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .footer-separator1 {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
}

.about-container {
  width: 100%;
  display: flex;
  position: relative;
  min-height: 100vh;
  overflow-x: hidden;
  align-items: center;
  flex-direction: column;
}
.about-main {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.about-hero {
  position: relative;
  padding-top: 128px;
  padding-bottom: var(--dl-space-space-unit);
}
.about-max-width {
  margin-top: var(--dl-space-space-threeunits);
}
.about-heading-container {
  flex: 1;
  display: flex;
  max-width: 100%;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.about-text {
  text-align: center;
  margin-bottom: var(--dl-space-space-halfunit);
}
.about-text01 {
  color: var(--dl-color-scheme-black);
  font-size: 18px;
  text-align: center;
  line-height: 1.44;
  margin-bottom: var(--dl-space-space-twounits);
}
.about-container1 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-self: center;
  align-items: center;
  margin-left: var(--dl-space-space-twounits);
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: column;
}
.about-text05 {
  align-self: flex-start;
}
.about-text08 {
  align-self: flex-start;
}
.about-container2 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-self: center;
  align-items: center;
  margin-left: var(--dl-space-space-twounits);
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: column;
}
.about-text11 {
  align-self: flex-start;
}
.about-text14 {
  align-self: flex-start;
}
.about-container3 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-self: center;
  align-items: center;
  margin-left: var(--dl-space-space-twounits);
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: column;
}
.about-text17 {
  align-self: flex-start;
}
.about-text20 {
  align-self: flex-start;
}
@media(max-width: 991px) {
  .about-heading-container {
    max-width: 100%;
    margin-bottom: 42px;
  }
}
@media(max-width: 767px) {
  .about-text {
    font-size: 48px;
  }
  .about-container1 {
    align-self: center;
  }
  .about-text05 {
    align-self: center;
  }
  .about-text08 {
    align-self: center;
  }
  .about-container2 {
    align-self: center;
  }
  .about-text11 {
    align-self: center;
  }
  .about-text14 {
    align-self: center;
  }
  .about-container3 {
    align-self: center;
  }
  .about-text17 {
    align-self: center;
  }
  .about-text20 {
    align-self: center;
  }
}
@media(max-width: 479px) {
  .about-main {
    align-items: center;
  }
  .about-container1 {
    width: 80%;
    margin-top: Unit;
    margin-left: Unit;
    padding-top: Unit;
    margin-right: Unit;
    padding-left: Unit;
    margin-bottom: Unit;
    padding-right: Unit;
    padding-bottom: Unit;
  }
  .about-text05 {
    margin-top: Unit;
    margin-left: Unit;
    margin-right: Unit;
    margin-bottom: Unit;
  }
  .about-text08 {
    margin-top: var(--dl-space-space-halfunit);
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .about-container2 {
    width: 80%;
    margin-top: Unit;
    margin-left: Unit;
    padding-top: Unit;
    margin-right: Unit;
    padding-left: Unit;
    margin-bottom: Unit;
    padding-right: Unit;
    padding-bottom: Unit;
  }
  .about-text11 {
    margin-top: Unit;
    margin-left: Unit;
    margin-right: Unit;
    margin-bottom: Unit;
  }
  .about-text14 {
    margin-top: var(--dl-space-space-halfunit);
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .about-container3 {
    width: 80%;
    margin-top: Unit;
    margin-left: Unit;
    padding-top: Unit;
    margin-right: Unit;
    padding-left: Unit;
    margin-bottom: Unit;
    padding-right: Unit;
    padding-bottom: Unit;
  }
  .about-text17 {
    margin-top: Unit;
    margin-left: Unit;
    margin-right: Unit;
    margin-bottom: Unit;
  }
  .about-text20 {
    margin-top: var(--dl-space-space-halfunit);
    margin-bottom: var(--dl-space-space-halfunit);
  }
}
